<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Assets/libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/popup.style.css">
</head>
<body>
<div class="container">
    <h2>Basic Table</h2>
    <table class="table">
        <thead>
        <tr class="text-capitalize">
            <th>make a call</th>
            <th>status</th>
            <th>user_id</th>
            <th>name</th>
            <th>phone</th>
            <th>last call</th>
            <th>last call agent</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button class="btn btn-primary">call</button>
            </td>
            <td>active</td>
            <td>4334</td>
            <td>Haim</td>
            <td>053432324</td>
            <td>25/12/2016</td>
            <td>slomit</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary">call</button>
            </td>
            <td>offline</td>
            <td>4223</td>
            <td>Salomon</td>
            <td>052343444</td>
            <td>22/9/2016</td>
            <td>john</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary">call</button>
            </td>
            <td>suspend</td>
            <td>2113</td>
            <td>Dooley</td>
            <td>052323394</td>
            <td>24/5/2016</td>
            <td>shoshi</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/Assets/js/chromeMethods.script.js"></script>
<script src="../js/popup.js"></script>
</body>
</html>